@colors;

input {
  min-height: 72px;
  padding: 20px 28px;

  background-color: $main-text;

  border-radius: 16px;
  outline: none;
  border: none;

  color: $secondary-text;
  font-size: 20px;
  font-weight: 400;
  line-height: 155%;

  &::placeholder {
    color: $secondary-light-text;
    font-size: 20px;
    font-weight: 400;
    line-height: 155%;
  }
}
